<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint address="net.tcp://localhost:8000/WeatherService"
					  binding="netTcpBinding"
					  bindingConfiguration="StreamedNetTcpBinding"
					  contract="WeatherStationCommon.IServiceContract"/>
		</client>
		<bindings>
			<netTcpBinding>
				<binding name="StreamedNetTcpBinding"
						 transferMode="Streamed"
						 maxReceivedMessageSize="10000000"
						 openTimeout="00:00:30"
						 sendTimeout="00:00:30"
						 receiveTimeout="00:10:00">
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
    <appSettings>
		<add key="CsvFilePath" value="C:\Users\USER\Desktop\weatherdata\cleaned_weather.csv"/>
		<add key="LogFilePath" value=".\Logs\client.log"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework, Version=v4.8"/>
	</startup>
</configuration>